.search {
  margin: 0 auto;
  padding-top: 110px;
  height: 100%;
  width: 90%;
  @include media-up(sl) {
    padding-top: 100px;
  }
  &__filter {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    @include media-up(sl) {
      padding: 20px 0px;
      text-align: left;
    }
    h2 {
      margin: 0;
      margin-bottom: 5px;
      @include media-up(sl) {
        margin-bottom: 0;
      }
    }
    &__checkbox-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media-up(sl) {
        flex-direction: row;
      }
    }
    &__message {
      @include media-up(sl) {
        margin-left: 10px;
      }
    }
    &__checkboxes {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      @include media-up(sl) {
        justify-content: flex-start;
        margin-bottom: 0;
      }
      &-checkbox {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  &__results {
    display: flex;
    flex-wrap: wrap;
    &-link {
      padding: 20px 0px;
      width: 100%;
      text-decoration: none;
      @include media-between(sl, ml) {
        flex: 0 0 45%;
        padding-left: 10%;
        width: 45%;
        &:first-child {
          padding-left: 0;
        }
        &:nth-child(2n + 1){
          padding-left: 0;
        }
      }
      @include media-up(ml) {
        flex: 0 0 20%;
        padding-left: 6.66%;
        width: 20%;
        &:first-child {
          padding-left: 0;
        }
        &:nth-child(4n + 1){
          padding-left: 0;
        }
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: #000000;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        transition: opacity .2s ease;
        @include media-up(sl) {
          height: 250px;
        }
        @include media-up(ml) {
          height: 200px;
          opacity: .8;
        }
        &:hover {
          opacity: 1;
        }
      }
      svg {
        height: 100px;
        opacity: .8;
        fill: #ffffff;
        @include media-up(sl) {
          height: 75px;
        }
        @include media-up(ml) {
          height: 50px;
        }
        &:hover {
          opacity: 1;
        }
      }
      label {
        margin: 10px 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }
    }
    &__message {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translateX(-50%);
    }
  }
}