.search {
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
  width: 80%;
  &__filter {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    @include media-up(sl) {
      padding: 20px;
    }
    &__checkboxes {
      display: flex;
      &-checkbox {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  &__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
      width: 100%;
      text-align: center;
      cursor: pointer;
      @include media-up(sl) {
        padding: 20px;
        width: 40%;
      }
      @include media-up(ml) {
        width: 20%;
      }
      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        opacity: .8;
        transition: opacity .2s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}