@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
$fontOpenSans: "Open Sans", sans-serif;
$fontArial: "Arial", sans-serif;
$fontHeading: $fontOpenSans;
$fontBody: $fontOpenSans;
$fontSecondary: $fontOpenSans;
$fontTertiary: $fontOpenSans;
