@font-face {
  font-family: gilroy-bold;
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff"),
    url("../fonts/gilroy-extrabold-webfont.ttf") format("truetype"),
    url("../fonts/gilroy-extrabold-webfont.svg#gilroy-light-webfont") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: gilroy;
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-light-webfont.woff") format("woff"),
    url("../fonts/gilroy-light-webfont.ttf") format("truetype"),
    url("../fonts/gilroy-light-webfont.svg#gilroy-light-webfont") format("svg");
  font-style: normal;
  font-weight: normal;
}
