.home-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    @include media-up(md) {
      width: 50%;
    }
    &-label {
      @include fluid-type(font-size, 320px, 1000px, 15px, 20px);
      margin-bottom: 10px;
    }
    &-checkboxes {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      @include media-up(md) {
        justify-content: flex-end;
      }
      &__checkbox {
        margin-right: 10px;
        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
    &-message {
      text-align: center;
      @include fluid-type(font-size, 320px, 1000px, 15px, 20px);
      @include media-up(md) {
        text-align: right;
      }
    }
  }
}