.view-asset {
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
  width: 90%;
  text-align: center;
  &__title {
    padding: 20px 0;
    h1 {
      margin: 0;
    }
  }
  &__meta {
    padding-bottom: 20px;
  }
  &__asset {
    padding-bottom: 20px;
    &__image {
      height: 250px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include media-up(sl) {
        height: 350px;
      }
      @include media-up(ml) {
        height: 500px;
      }
    }
    audio, video {
      width: 100%;
      @include media-up(sl) {
        width: 80%;
      }
      @include media-up(ml) {
        width: 60%;
      }
    }
  }
  &__desc {
    padding-bottom: 100px;
  }
}